@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
/* #region main */
body {
    margin: 0px;
    overflow-x: hidden;
    font-family: 'Josefin Sans';
    background-color: #0f1617;
    background-image: url(./img/mother.png);
    background-size: 22vw;
}
.bar {
    width: inherit;
    background-color: black;
    padding: 3px;
    margin-left: -5px;
    margin-right: -5px;
}
.text-lead {
    font-size: 1.5em;
}
.main {
    background-color: rgb(54, 52, 52);
    min-height: calc(100vh - 178px);
    max-width: 1300px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    box-shadow: 0px 0px 20px #210103; 
}
.p-space {
    padding-top: 7px;
}
/* #endregion */
/* #region header */
.headerdiv {
    background-color: #395462;
    margin-left: -10px = 0px;
    height: 100px;
    background-size: cover;
    background-position-y: bottom;
    color: white;
    z-index: 10000;
}
.headerdiv a {
    margin: 0;
    color: #c7ece6;
    font-size: 36px;
    font-weight: 700;
    z-index: 1000;
    position: absolute;
    top: 50px;
    left: 10px;
    white-space: nowrap;
}
.headerdiv a:hover {
    text-underline-offset: -1000px;
    color:#e5f4f1;
}
.fallingtextdiv {
    width: 100%;
    height: inherit;
    top: 0px;
    position: absolute;
}
.fallingtextdiv p {
    margin: 0px;
    position: sticky;
    color: #7da1b1;
}
.navbar {
    padding:0;
}
.navbar a {
    color: #c7ece6;
    background-color: #7da1b1;
    padding: 7px;
}
.navbar .alt-nav {
    background-color: #7598a7;
}
.navbar a:hover {
    color: white;
    text-decoration-line: none;
    background-color: #49768d;
}
.navbar-toggler {
    position: absolute;
    z-index: 10000;
    top: -47px;
    right:10px;
    width: 50px;
    height: 34px;
    background-image: url(./img/button.png);
    border: none;
    background-color: #395462;
    visibility: hidden;
}
.navbar-toggler:hover {
    border: none;
}
.navbar-toggler:focus {
    border: none;
    outline: none;
}

.navbar .container-fluid {
    padding: 0;
}
/* #endregion */
/* #region home */
    .homebar {
        background-color:#580e12;
    }
    #home-carousel {
        max-height: 400px;
        background-color: #0d0001;
        margin-left: -5px;
        margin-right: -5px;
    }
    #home-carousel img {
        max-height: 400px;
        max-width: 100vw;
        line-height: 30px;
        margin: auto;
    }
    #home-carousel .carousel-control-prev,
    #home-carousel .carousel-control-next {
        background-color:#210204;
    }
    .home-main {
        background-color: black;
        font-family: 'Source Code Pro', monospace;
        margin-left: -5px;
        margin-right: -5px;
        margin-bottom: -8px;
    }
    .home-main h1 {
        color: white;  
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .home-main h1::after {
        content: "_";
    }
/* #endregion */
/* #region about */
.about-header {
    width: inherit;
    background-color: #701217;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
.about-header h1 {
    padding: 14px;
    font-weight: 700;
    font-size: 20pt;
    margin-bottom: 0;
    flex: 30%;
}
.aboutbar {
    background-color: #580e12;
}
.link-logos {
    display: flex;
    flex: 40%;
    float: right;
    margin-right: 0px;
}
.link-logo {
    float: right;
    flex: 10%;
    background-color: #851a1f;
    padding: 0;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 5px;
}
.link-logo:hover {
    background-color: #96272c;
}
.link-logo:active {
    background-color: #b43b41;
}
.link-logo img {
    width:fit-content;
    max-height: 55px;
    padding: 8px;
    padding-top: 12px;
}
.about-main {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.about-main img {
    width: fill;
    margin: 20px;
    margin-top: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #0f1617;
}
.about-main p {
    padding: 20px;
    padding-top: 10px;
    background-color:#580e12;
    color: white;
    box-shadow: 0px 0px 10px #0f1617;
}
.song {
    color: white;
    background-color:#580e12;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    text-shadow: 0px 0px 10px#0f1617;
}
.song h4 {
    flex: 100%;
    padding-top: 5px;
}
.song iframe {
    flex: 100%;
    margin-left: -10px;
    margin-right: -10px;
}

/* #endregion */
/* #region error */
.errormain {
    color: white;
    padding: 40px;
}
.errormain img {
    flex: 50%;
    float: right;
    padding: 10px;
}
/* #endregion */
/* #region info */

.infomain {
    display: flex;
    flex-wrap: wrap;
}
.infomain a {
    margin-top: 5px;
    flex: 100%;
    font-size: 20px;
    color: white;
    background-color: #580e12;
    border:#701217 solid 3px;
    border-radius: 10px;
}
.infomain .document {
    margin: auto;
    padding-top: 10px;
}


/* #endregion */
/* #region footer */
footer {
    background-color: #49768d;
    color: white;
}
footer p {
    margin:0;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
footer .bar {
    background-color: #395462;
}
/* #endregion */
/* #region media queries */
@media screen and (max-width: 800px) {
    .about-header h1 {
        padding: 14px;
        font-weight: 700;
        font-size: 20pt;
        margin-bottom: 0;
        flex: 100%;
    }
    .link-logos {
        margin-right: 0;
        padding-left: 5px;
    }
}
@media screen and (max-width: 767px) {
    .main {
        min-height: calc(100vh - 140px);
    }
    .navbar-toggler {
        visibility: visible;
    }
    .about-main p {
        font-size: 11.25pt;
        padding-left: 300px;
        padding-right: 300px;
        margin-left: -300px;
        margin-right: -300px;
    }
    .about-main img {
        width: 100vw;
        margin: -20px;
        margin-left: -40px;
        border-radius: 0;;
    }
}
/* #endregion */